body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    background: linear-gradient(
    to bottom,
    #e6ebf5 0%,   
    #4a74ff 100%
    );
}

img {
    filter: drop-shadow(0 0 6px #000);  
    width: 100%;  
}

hr {
    width: 90%;
    border: solid .0625rem black;
}

button {
    background-color: transparent;
    border-radius: 3rem;
    border: solid .125rem;
    padding: 1rem 2rem;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 5rem;
    
}

button:hover{
    background-color: #000;
    color: #ffffff;
}
.role {
    padding: 2rem;
    font-family: 'Helvetica Neue';
    text-align: center;
    font-weight: 200;
    font-size: clamp(1rem, -0.25rem + 4vw, 2rem);
}

.sign {
    font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
    padding: 2rem;
}

img.lazy-img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease;
}


img.lazy-img[src] {
  opacity: 1;
}